.contenedor-well{
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
}

.cont-text{
    padding: 2rem;
    max-width: 40vw;
}

.titulo-hm{
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    background: -webkit-linear-gradient(rgb(122, 40, 199), rgb(255, 158, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-h2{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size:large;
    color: rgb(54, 134, 199);
}

.tech-img{
    max-width: 40vw;
}

@media screen and (max-width: 850px) {
    .contenedor-well{
        margin-top: 0rem;
        margin-bottom: 3rem;
        display: grid;
        justify-content: center;
    }

    .cont-text{
        padding: 1rem;
        max-width: 90vw;
    }

    .titulo-hm{
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        background: -webkit-linear-gradient(rgb(122, 40, 199), rgb(255, 158, 158));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tech-img{
        padding: 1rem;
        max-width: 85vw;
    }
}

@Media screen and (min-width: 900px), (max-width: 1024){
    .contenedor-well{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .cont-text{
        padding: 2rem;
        max-width: 55vw;
    }
    
    .titulo-hm{
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
        background: -webkit-linear-gradient(rgb(122, 40, 199), rgb(255, 158, 158));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .texto-h2{
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size:large;
        color: rgb(54, 134, 199);
    }
    
    .tech-img{
        max-width: 40vw;
    }
}

@Media screen and (min-width: 1030px), (max-width: 1440){
    .contenedor-well{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .cont-text{
        padding: 2rem;
        max-width: 40vw;
    }
    
    .titulo-hm{
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
        background: -webkit-linear-gradient(rgb(122, 40, 199), rgb(255, 158, 158));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .texto-h2{
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size:large;
        color: rgb(54, 134, 199);
    }
    
    .tech-img{
        max-width: 40vw;
    }
}